
{{ form_start(form, {'attr' : {
    'enctype' : 'multipart/form-data'
}}) }}
    <div>
        <label for="">Titre</label>
        {{ form_widget(form.titre) }}
    </div>
    <div>
        <label for="">Contenu</label>
        {{ form_widget(form.contenu) }}
    </div>
    <div>
        <label for="">User</label>
        {{ form_widget(form.user) }}
    </div>
    <div>
        <label for="">Image</label>
        {{ form_widget(form.imageFile) }}
    </div>
     <div>
        <label for="">fichier</label>
       
         {{ form_widget(form.fichierFile) }}
    </div>
    <div>
        <label for="">Video</label>
        
         {{ form_widget(form.videoFile) }}
    </div>
    <button class="btn" id="button_article">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
